# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
+ List the popular languages that Data Scientists use
+ List the commonly used libraries used by Data Scientists
+ Use code cells to input basic arithmetic ecuations and recieve the correct output

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java
7. Matlab

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Plotly

| Data Science Tools |
|--------------------|
| Jupyer Notebook |
| Jupyter Lab |
| Pycharm |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [17]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60.
(200/60)

3.3333333333333335

## Author
    Yamil Bastian Leiva Lara